name: Docker Build CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t devops-intern-task .
      - name: Run Docker Container
        run: docker run -d -p 3000:3000 --name devops-intern-task-container devops-intern-task